{
  "presets": [
    [
      "env", { "targets": { "node": "current" }}
    ],
    [
      "stage-2"
    ]
  ],

  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@jmaguirrei/belt": "../../../libs/belt/src/index.js",
          "@jmaguirrei/server": "../../../libs/server/src/index.js",
          "@jmaguirrei/store": "../../../libs/store/src/index.js",
          "@jmaguirrei/ui": "../../../libs/ui/src/index.js",
          "/lib": "./src/lib",
          "/module": "./src/module",
          "/public": "./src/public",
          "/server": "./src/server"
        }
      }
    ]
  ]
}
